
header {

}

.top-menu {
    background-color: #9a3a1c;
    height: 68px;
}

.top-menu button {
    margin-top: 18px;
    background-color: #9a3a1c;
}

.top-menu .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-brand {
    padding-top: 15px;
}

.navbar-nav {
    padding-top: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav {
    background-color: #9a3a1c;
}

.nav > li > a:hover, .nav > li > a:focus, .navbar-toggle:focus, .navbar-toggle:hover {
    background-color: green;
}

.top-menu a {
    color: white;
}

#top-menu-left a {
    padding-top: 22px;
    padding-bottom: 22px;

}

#top-menu-right a {
    padding-top: 0px;
    padding-bottom: 0px;
}



#main {
    margin-top: 68px;
}

#title {
    font-size: 24px;
    border-top: 7px yellow solid;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: left;
    background: linear-gradient(to bottom, green 0, #00AD00 100%);
    color: white;
}

#title h1 {
    font-size: 60px
}

#margin-left {

}

#margin-right {
    background: linear-gradient(to left, green 0%, white 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}