body {
    padding-top: 70px;
}

.menu {
    background-color: green;
    padding-right: 10px;
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 45px;
}

.navbar-nav {
    padding-top: 2px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #336633;
}

.menu a {
    color: white;
}